/*Colour Theme:
375E55
426E76
97C0A5
DDF0DB
B5B135
*/

.body {
  background-color: #426E76;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  background-color: #97C0A5;
  padding: 10px;
}

.nav .nav-item{
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: 375E55;
  color: black;
  border: 1rem solid DDF0DB;
  margin: 1rem;
  padding: 1rem;
}
