/*Colour Theme:
375E55
426E76
97C0A5
DDF0DB
B5B135
*/

.body {
  background-color: #426E76;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  background-color: #97C0A5;
  padding: 10px;
}


.first-chunk {
  margin: 0;
  display: flex;
  height: 400px;
  
}

.file-upload {
  margin: 0;
  border: 2px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.APIVisual {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

#inputScript {
  margin: 5px;
  height: 300px;
  width: 550px;
  
}

#outputBox {
  display: flex;
  margin: 0;
  flex: 1;
  height: 400px;
  resize: none;
}

.second-chunk {
  border: 1px solid black;
  margin: 0;
  display: flex;
  flex: 1;
}

.btn {
  background-color: 375E55;
  color: black;
  border: 1rem solid DDF0DB;
  margin: 1rem;
  padding: 1rem;
}
