/*Colour Theme:
375E55
426E76
97C0A5
  DDF0DB
B5B135
*/

.body {
  background-color: #426E76;
}


.buttonContainer {
  display: flex;
  justify-content: space-around;
  background-color: #97C0A5;
  padding: 10px;
}

.container {
  border: 1px solid black;
  margin: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  /*https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div*/
  /*  We should add this line centre down as it's own html class rather than a styling edit */
  
  /*
  background: linear-gradient(to right, 
                              transparent 0%, 
                              transparent calc(50% - 0.81px), 
                              black calc(50% - 0.8px), 
                              black calc(50% + 0.8px), 
                              transparent calc(50% + 0.81px), 
                              transparent 100%); 
  */ 
  
}

#outputBox {
  display: flex;
  margin: 0;
  flex: 1;
  height: 200px;
  resize: none;
}

.second-chunk {
  border: 1px solid black;
  margin: 0;
  display: flex;
  flex: 1;
}

.btn {
  background-color: 375E55;
  color: black;
  border: 1rem solid DDF0DB;
  margin: 1rem;
  padding: 1rem;
}
